/* results display */

#results-container {
	/* max-width: 600px; */
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	visibility: hidden;
}
#share-code-container {
	min-width: 300px;
	max-width: 100%;
	background-color: var(--bg2);
	padding: 2em;
	/* padding-bottom: calc(1em + 1em + 1ex); */
	border-radius: 8px;
	font-size: larger;
	box-shadow: inset 2px 2px 8px #00000020;
	
	display: block;
	position: relative;
}
#share-text, .share-text {
	margin: 0;
	line-height: 1.0;
}

.copy-button {
	position: absolute;
	bottom: 0;
	right: 0;
	
	background-color: var(--button-bg);
	color: var(--button-fg);
	border: none;
	padding: 0.5em 1em;
	border-radius: 4px 0 8px 0;
}
.copy-button:hover {
	filter: brightness(120%);
}
.copy-button:active {
	filter: brightness(80%);
}

/* flash animation */

.copy-button.flash {
	animation: copy-flash 0.5s ease-out;
}
@keyframes copy-flash {
	from {
		background-color: var(--correct);
	}
	to {
		background-color: var(--button-bg);
	}
}
