/* colors */

:root {
	background-color: var(--bg);
	color: var(--fg);
	font-family: sans-serif;
}
@media (prefers-color-scheme: light) {
	:root {
		--bg: #f0f0f0;
		--bg2: #c0c0c0;
		--bg3: #e0e0e0;
		--gridcolor: #ffffff;
		--fg: black;
		
		--correct: #00e000;
		--wrongpos: #f0d000;
		--incorrect: #303030;
		--neutral: #e0e0e0;
		--incorrect-warning: #ff4040;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #202020;
		--bg2: #101010;
		--bg3: #181818;
		--gridcolor: #303030;
		--fg: #e0e0e0;
		
		--button-bg: #404040;
		
		--correct: #008000;
		--wrongpos: #a08000;
		--incorrect: #101010;
		--neutral: #202020;
		--incorrect-warning: #c02020;
	}
	a {
		color: #80c0ff;
	}
	a:visited {
		color: #c080ff;
	}
}

/* style */

body {
	text-align: center;
	
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}
@media (prefers-color-scheme: light) {
	body {
		/* text-shadow: 4px 4px 4px #00000020; */
	}
}

h1 {
	font-family: serif;
	font-style: italic;
}
.title {
	margin-bottom: 0;
}
#date {
	display: block;
	margin: 1ex;
	font-size: larger;
}
#date::before {
	content: "🙛";
	margin: 0px 8px;
}
#date::after {
	content: "🙙";
	margin: 0px 8px;
}

.links {
	position: absolute;
	top: 0;
	right: 0;
	padding: 8px 16px;
	margin: 8px;
	border-radius: 8px;
	
	background-color: var(--gridcolor);
	display: flex;
	flex-direction: row;
}
