#wess-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}
.wess-gridcontainer {
	background-color: var(--bg2);
	padding: 20px;
}
.wess-grid {
	/* display: flex; */
	/* flex-direction: row; */
	border-collapse: collapse;
	text-transform: uppercase;
}
.wess-grid td {
	width: 2em;
	height: 2em;
	border: 6px solid var(--gridcolor);
	font-size: 20pt;
	background-color: var(--neutral);
	box-shadow: inset 1px 1px 4px #00000080;
}

#wess-input {
	/* display: none; */
	/* visibility: hidden; */
	opacity: 0;
	position: absolute;
}

.switch-puzzle-button, .switch-puzzle-button:visited {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20pt;
	/* it should look like a button */
	color: inherit;
	text-decoration: none;
	
	min-width: 48px;
	margin: 0px 8px;
	/* background-color: var(--bg3); */
}
.switch-puzzle-button:active {
	color: Highlight;
}
.switch-puzzle-button:not([href]) {
	opacity: 0.5;
	pointer-events: none; /* stop people trying to click on it and making it flash */
}
@media (prefers-color-scheme: light) {
	.switch-puzzle-button:not([href]) {
		opacity: 0.2; /* it's a lot harder to see on a light background */
	}
}

/* cell styles */

.wess-grid td.correct {
	background-color: var(--correct);
}
.wess-grid td.wrongpos {
	background-color: var(--wrongpos);
}
.wess-grid td.incorrect {
	background-color: var(--incorrect);
}
@media (prefers-color-scheme: light) {
	.wess-grid td.incorrect:not(.pending) {
		color: var(--gridcolor);
	}
}

.wess-grid td.pending.correct {
	background: var(--neutral);
	box-shadow: inset 0 0 8px 2px var(--correct);
}
.wess-grid td.pending.wrongpos {
	background: var(--neutral);
	box-shadow: inset 0 0 8px 2px var(--wrongpos);
}
.wess-grid td.pending.incorrect {
	background: repeating-linear-gradient(135deg, var(--neutral) 0 10%, var(--incorrect-warning) 10% 20%);
}
@media (prefers-color-scheme: light) {
	.wess-grid td.pending.incorrect {
		background: radial-gradient(var(--neutral) 0% 10%, transparent 80%),
		            repeating-linear-gradient(135deg, var(--neutral) 0 10%, var(--incorrect-warning) 10% 20%);
	}
}

/* flash animation */

.wess-grid tr.flash {
	animation: flash 0.2s linear;
}
@keyframes flash {
	from {
		filter: none;
	}
	50% {
		filter: brightness(0);
	}
	to {
		filter: none;
	}
}
